/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 15, 2016, 9:27:01 AM
    Author     : dmarez
*/

/* Color Variables */
$colorMenu:  #EDEDED;
$listMenu: black;
$hoverListMenu: #798285;
$lightBlack: #1F1F1F;
$white: #FFFFFF;
$ultraLightGray: #FAFAFA;

/* Size variables */
$widthFull: 100%;
$heightAuto: auto;

/* Font Family Google */
$roboto: 'roboto', sans-serif;

/* Disposition of the div / section / para etc... */
$left: left;
$right: right;
$center: center;


